@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-body-dark;
  }
  .input-dark-bg {
    @apply bg-input-dark;
  }
  .first-group.hover-children > * {
    @apply hover:bg-hover-dark cursor-pointer p-2;
  }
  .second-group.hover-children > *:not(:last-child) {
    @apply hover:bg-hover-dark cursor-pointer p-2;
  }
  .tab-active {
    @apply bg-hover-dark;
  }
  .scrollbar-style {
    @apply overflow-scroll scrollbar-thin scrollbar-track-transparent scrollbar-thumb-white;
  }
  .scrollbar-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply border-8 rounded-lg;
  }
  .scrollbar-style::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    @apply border-8 rounded-lg;
  }
  .icon-text {
    @apply text-white font-sans font-semibold text-base antialiased sm:subpixel-antialiased md:antialiased;
  }
  .text-default {
    @apply font-sans font-semibold text-base antialiased sm:subpixel-antialiased md:antialiased;
  }
  .calculate-height {
    height: calc(100vh - 3.75rem);
  }
}
